/* adding google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* creating variables for easy css implementation */
:root {
    --clr-primary: #21913b;
    --clr-success: #41f1b6;
    --clr-white: #fff;
    --clr-info-dark: #7d8da1;
    --clr-info-light: #dce1eb;
    --clr-dark: #363949;
    --clr-light: rgba(15, 14, 14, 0.18);
    --clr-primary-variant: #111e88;
    --clr-dark-variant: #677483;
    --clr-color-background: #f6f6f9;
  
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
  
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--clr-light);
  
  }
  
  /* dark theme */
  .dark-theme-variables {
    --clr-color-background: #181a1e;
    --clr-white: #202528;
    --clr-light: rgba(0, 0, 0, 0.4);
    --clr-dark: #edeffd;
    --clr-dark-variant: #677483;
    --box-shadow: 0 2rem 3rem var(--clr-light)
  }
  /* starting the css styling */

  *{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    list-style: none;
    appearance: none;

  }

body{
    font-family: "Poppins", sans-serif;
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    background: var(--clr-background);

}
.container{
    display: grid;
    width: 96%;
    gap: 10rem;
    grid-template-columns: 14rem auto 14rem;
    margin: 0 auto;
}
a{
    color: var(--clr-dark);
}
 h1{
    font-weight: 800;
    font-size: 1.8rem;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 0.8rem;
}
h4{
    font-size: 0.8;
}
h5{
    font-size: 0.77rem;
}
small{
    font-size: 0.75rem;
}
.text-muted{
    color: var(--clr-info-dark);
}
p{
    color: var(--clr-dark-variant);
}

/* css for sidebar */
aside{
    height: 100vh;
}
aside .top{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.4rem;
}

 aside .sidebar{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 80vh;
    position: relative;
    top: 1.5rem;
 }
 aside .h3{
    font-weight:500 ;
 }
aside .sidebar a{
    display: flex;
    color: var(--clr-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    height: 5rem;
    transition: all .1s ease-in;
}
aside .sidebar a span{
    font-size: 1.6rem;
    transition: all .1s ease-in;
}
aside .sidebar a:last-child{
    position: absolute;
    bottom: 1rem;
    width: 100%;
}
aside .sidebar a.active{
    background: var(--clr-light);
    color: var(--clr-primary);
    margin-left: 0;
    border-left: 5px solid var(--clr-primary);
}
aside .sidebar a.active:before{
    content: '';
    width: 6px;
    height: 100%;
    background-color:var(--clr-primary);
}
aside .sidebar a:hover{
    color: var(--clr-primary);
}
aside .sidebar a:hover span{
    margin-left: 1rem;
    transition: .5s ease;
}
/* css styling foe aside ends here */

/* css styling for the main section of customre starts here */
main{
    margin-top: 1.4rem;
    margin-left:-90px;
    width: auto;
    height: auto;
}

.search {
    margin-top: 1.1rem;
    display: flex;
    align-items: center;
  }
  
  .search-box input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .button input[type="submit"] {
    padding: 10px 20px;
    background-color: #32c351;
    border: none;
    color: #000000;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
  }

  main h1{
    color: var(--clr-dark);
}
main .total-count{
    margin-top: 1rem;
}
main .stats table{
    background-color: var(--clr-white);
    width: 120%;
    border-radius: var(--card-border-radius);
    padding: 0.8rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all .3s ease;

}
main .stats table tr{
    height: 1.8rem;
    margin-bottom: 1px solid var(--clr-white);
    color: var(--clr-dark-variant);
}

main .recent_5_customers{
    margin-top: 1rem;
}
main .recent_5_customers table{
    margin-top: 1rem;
    background-color: var(--clr-white);
    width: 120%;
    height: 10px;
    border-radius: var(--card-border-radius);
    padding: 1.3rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all .3s ease;
}

main table tbody tr{
    height: 3.8rem;
    margin-bottom: 1px solid var(--clr-white);
    color: var(--clr-dark-variant);
}
main table tbody td{
    height: 1.5rem;
}
/* css styling for the main section of customre ends here */

/* styling for the right section of the customer page */
.right{ 
    margin-top: 9.2rem;
    margin-left: -370px;

}
.managecustomer{
    background-color: var(--clr-white);
    width: 100%;
    height: 54vh;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all .3s ease;
}
.managecustomer h3{
    font-size: 1.20rem;
}
.managecustomer .name{
    text-align: left;
}
/* styling for the right section of the customer page */
